@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body{
     font-family: 'Open Sans', sans-serif;
 }

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  @media (min-width: 1200px) {
h1, .h1 {
      font-size: 2.5rem;
    }
  }

h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  @media (min-width: 1200px) {
h2, .h2 {
      font-size: 2rem;
    }
  }
p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

 .contenedor{
     width: 90%;
     max-width: 1200px;
     overflow: hidden;
     margin: auto;
     padding: 60px 0;
 }


 header{
     height: 80vh;
     background-image: linear-gradient(to top, rgba(46, 161, 161, 0.3) 0%, rgba(51, 8, 103, 0.3) 100%), url(../img/young-businesswoman-holding-coffee-.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
 }

 .head{
     padding: 0;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: white;
 }

.titulo{
    font-size: 100px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #330867;
    margin-bottom: 40px;
    font-size: 40px;
}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2rem;
    }
  }

.contact-us img{
    width: 30%;    
}

.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 700;
    color: #2c3e50;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color:#fff;
}
.social-media-icon:hover{
    background: #fff;
    color: #2c3e50;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;

}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;   
}

.formulario{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 350px;
    margin-left: 650px;
    font-weight: bolder;
    padding: 10px;
}

#consulta{
    height: 100px;
}
/*Footer*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Establece la altura fija del pie de página */
    height: 350px;
  }
  
  /* Pie de página más alto en pantallas pequeñas */
  @media (max-width: 34em) {
      body {
        margin-bottom: 500px;
      }
      .footer {
        height: 500px;
      }
  }
  
  /* Estilo y color del pie de página adhesivo */
  footer {
    padding-top: 30px;
    padding-block-end: 15rem;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: #bbb;
  }
  
  footer a {
    color: #999;
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  
  footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
  }
  .nav-item{
    color: white;
  }
  .list-unstyled{
    font-size: 20px;
  }
  /* Carrusel de imagenes */
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }
