* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
    height: 80vh;
    background-image: linear-gradient(to top, rgba(46, 161, 161, 0.3) 0%, rgba(51, 8, 103, 0.3) 100%), url(../img/young-businesswoman-holding-coffee-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
	font-family: 'Open Sans', sans-serif;
}
#page-container {
    position: relative;
    min-height: 100vh;
      }
#content-wrap {
    padding-bottom: 350px;    /* Footer height */
  }

.contenedorhead {
	margin-top: 50px;
	padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.titulo{
    font-size: 100px;
    margin-bottom: 15px;
}
.subtitulo{
	font-weight: 300;
    font-size: 25px;
}


/*----------------- */
/* POPUP Solicitar turno*/
/*----------------- */
.overlay {
	background: rgba(0,0,0,.3);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	margin-top: 100px;
	background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	color: whitesmoke;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}


.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: whitesmoke;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}
/*-----------------*/
/* POPUP Mis turnos*/
/*-----------------*/
.overlay2 {
	background: rgba(245, 221, 221, 0.3);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay2.active {
	visibility: visible;
}








/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*----------------- */
/* Footer */
/*----------------- */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Establece la altura fija del pie de página */
    height: 350px;
  }
  /*--------------------------------------------- */
  /* Pie de página más alto en pantallas pequeñas */
  /*--------------------------------------------- */
  @media (max-width: 34em) {
      body {
        margin-bottom: 500px;
      }
      .footer {
        height: 500px;
      }
  }
  /*-------------------------------------------*/
  /* Estilo y color del pie de página adhesivo */
  /*-------------------------------------------*/
  footer {
    padding-top: 30px;
    padding-block-end: 15rem;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: #bbb;
  }
  
  footer a {
    color: #999;
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  
  footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
  }
  .nav-item{
    color: white;
  }
  .list-unstyled{
    font-size: 20px;
  }
    /* Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px){

	.titulo{
		max-width: 1000px;
		padding: 0 20px;
		
	}
		  
	.container {
	  display: flex;
	  justify-content: center;
	  font-weight: 100%;
    }
	
  @media screen and (max-width: 500px){
  
		.titulo{
		
		padding: 0px;
		font-size:20vw;
  
	}
	.subtitulo{
		font-size: 100%;
	}
	
}
	.container {
  
	  justify-content: 50%;
	  font-size: 100%;
	}
  
		  
  }